Repository bsamiee/Parametric_Arsenal: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-restore, dotnet-build, dotnet-format

dotnet-restore:
  name: .NET Restore
  entry: dotnet restore
  args:
  - Parametric_Arsenal.sln
  language: system
  pass_filenames: false

dotnet-build:
  name: .NET Build with analyzers
  entry: dotnet build
  args:
  - Parametric_Arsenal.sln
  - --configuration
  - Release
  - --no-restore
  - -p:EnforceCodeStyleInBuild=true
  - -p:TreatWarningsAsErrors=true
  language: system
  pass_filenames: false

dotnet-format:
  name: .NET Format
  entry: dotnet format
  args:
  - Parametric_Arsenal.sln
  - --verbosity
  - normal
  language: system
  pass_filenames: false

remove prompt
  .github/prompts/add-functionality.prompt.md
Due: none

update gitignore
  .gitignore
Due: none

refactor(transformation): consolidate duplicate code and normalize constants
  libs/rhino/transformation/TransformationCompute.cs
  libs/rhino/transformation/TransformationConfig.cs
Due: dotnet-restore, dotnet-build, dotnet-format

refactor(transformation): fix critical bugs and eliminate code duplication
  libs/rhino/transformation/TransformationCompute.cs
  libs/rhino/transformation/TransformationConfig.cs
  libs/rhino/transformation/TransformationCore.cs
Due: dotnet-restore, dotnet-build, dotnet-format

Improve transform decomposition reflection handling
  libs/rhino/transformation/TransformationCompute.cs
Due: dotnet-restore, dotnet-build, dotnet-format

Fix transform duplication casting for extrusions
  libs/rhino/transformation/TransformationCore.cs
Due: dotnet-restore, dotnet-build, dotnet-format

Allow negative determinant transforms in blends
  libs/rhino/transformation/TransformationCompute.cs
Due: dotnet-restore, dotnet-build, dotnet-format

Update libs/rhino/transformation/TransformationCompute.cs
  libs/rhino/transformation/TransformationCompute.cs
Due: dotnet-restore, dotnet-build, dotnet-format

fix formatting in transformation
  libs/rhino/transformation/TransformationCompute.cs
  libs/rhino/transformation/TransformationCore.cs
Due: dotnet-restore, dotnet-build, dotnet-format

Improve polar decomposition convergence handling
  libs/rhino/transformation/TransformationCompute.cs
Due: dotnet-restore, dotnet-build, dotnet-format

Dispose morph duplicates on failure
  libs/rhino/transformation/TransformationCompute.cs
Due: dotnet-restore, dotnet-build, dotnet-format

Update test/rhino/core/Context/GeometryContextTests.cs
  test/rhino/core/Context/GeometryContextTests.cs
Due: dotnet-restore, dotnet-build, dotnet-format

Update test/rhino/core/Operations/OperationConfigTests.cs
  test/rhino/core/Operations/OperationConfigTests.cs
Due: dotnet-restore, dotnet-build, dotnet-format

Apply suggestion from @Copilot
  test/core/Validation/VTests.cs
Due: dotnet-restore, dotnet-build, dotnet-format

format
  .github/workflows/rhino-tests.yml
  test/rhino/Arsenal.Rhino.Tests.csproj
  test/rhino/Rhino.Testing.Configs.xml
Due: dotnet-restore, dotnet-build

Update libs/rhino/spatial/SpatialCompute.cs
  libs/rhino/spatial/SpatialCompute.cs
Due: dotnet-restore, dotnet-build, dotnet-format

Clean up unused imports and simplify type inference in tests
  .github/workflows/rhino-tests.yml
  libs/rhino/spatial/SpatialCompute.cs
  libs/rhino/topology/TopologyCompute.cs
  test/core/Validation/VTests.cs
  test/rhino/core/Context/ContextGenerators.cs
  test/rhino/core/Context/GeometryContextTests.cs
  test/rhino/core/Operations/OperationConfigTests.cs
  test/rhino/core/Operations/UnifiedOperationTests.cs
Due: dotnet-restore, dotnet-build, dotnet-format

Remove --locked-mode from restore (TFM is platform-conditional)
  .github/workflows/rhino-tests.yml
Due: none

Fix Microsoft.NET.Test.Sdk version to match Arsenal.Core.Tests (18.0.0)
  test/rhino/Arsenal.Rhino.Tests.csproj
Due: dotnet-restore, dotnet-build

Let Rhino.Testing manage its own RhinoCommon/Grasshopper runtime assemblies
  test/rhino/Arsenal.Rhino.Tests.csproj
Due: dotnet-restore, dotnet-build

Use [RhinoTestFixture] attribute to initialize Rhino runtime
  test/rhino/core/Context/GeometryContextTests.cs
  test/rhino/core/Operations/OperationConfigTests.cs
  test/rhino/core/Operations/UnifiedOperationTests.cs
Due: dotnet-restore, dotnet-build, dotnet-format

Fix V.Has() to return true when checking for V.None
  libs/core/validation/V.cs
Due: dotnet-restore, dotnet-build, dotnet-format

Refactor MeshQuality to remove if statement violation
  libs/rhino/analysis/AnalysisCompute.cs
Due: dotnet-restore, dotnet-build, dotnet-format

Fix curve intersection tangency classification
  libs/rhino/intersection/IntersectionCompute.cs
Due: dotnet-restore, dotnet-build, dotnet-format

Improve near-miss sampling stability
  libs/rhino/intersection/IntersectionCompute.cs
Due: dotnet-restore, dotnet-build, dotnet-format

Correct curve-curve tangent classification
  libs/rhino/intersection/IntersectionCompute.cs
Due: dotnet-restore, dotnet-build, dotnet-format

Fix plane/cylinder discrimination in curvature-based classification
  libs/rhino/extraction/ExtractionCompute.cs
Due: dotnet-restore, dotnet-build, dotnet-format

refactor: CI/CD improvements and standardization
  .github/dependabot.yml
  .github/prompts/code-cleanup.prompt.md
  .github/prompts/code-optimization.prompt.md
  .github/prompts/code-organization.prompt.md
  .github/prompts/integration-testing.prompt.md
  .github/prompts/rhino-testing.prompt.md
  .github/prompts/sdk_and_logic.prompt.md
  .github/prompts/testing.prompt.md
  .github/workflows/ci.yml
  .github/workflows/rhino-tests.yml
  .pre-commit-config.yaml
  README.md
  test/rhino/.runsettings
  test/rhino/Rhino.Testing.Configs.xml
Due: none

Refactor budget calculation using Math.Clamp
  libs/rhino/intersection/IntersectionCompute.cs
Due: dotnet-restore, dotnet-build, dotnet-format

Update libs/rhino/intersection/IntersectionCompute.cs
  libs/rhino/intersection/IntersectionCompute.cs
Due: dotnet-restore, dotnet-build, dotnet-format

format
  libs/rhino/analysis/AnalysisCompute.cs
  test/core/packages.lock.json
Due: dotnet-restore, dotnet-build, dotnet-format

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

Path conditions:
  dotnet-restore: any of: \.(cs|csproj|sln|props)$
  dotnet-build: any of: \.(cs|csproj)$
  dotnet-format: any of: \.cs$
